.row
  .col-sm-12.col-md-12.col-lg-12
    .col-sm-3.col-md-3.col-lg-3
    .col-sm-3.col-md-6.col-lg-6{style:"top:150px;"}
      %h1.welcome Welcome To Spread
      %h6.welcome.small Bet On Sports, Together

    .col-sm-3.col-md-3.col-lg-3
